@import "../Utils/_variables";
@import "../Utils/_mixins.scss";
@import "../Utils/_placeholders.scss";
@import "../Utils/_functions.scss";

/* gestion des articles du blog */

.blog-article {
   
    @include style-article(300px, auto, 10px, $box-shadow, $colour-secondary, $colour-white);
    margin: 0.7rem auto;
    &__title{
        text-align: center;
        padding: 1rem;
        font-size: 1.4rem;
    
    }&__content{
        padding: 0.5rem;
    }
    
}
       

  