@import "../Utils/_variables";
@import "../Utils/_mixins.scss";
@import "../Utils/_placeholders.scss";
@import "../Utils/_functions.scss";

// formulaire commentaire 

#form-comment {
    width: 100%;

    & div {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;

        & textarea {
            width: 300px;
            height: 100px;
            border: none;
            margin: 10px 0;
        }

        & input {
            margin: 0 0 10px 0;
        }
    }
}

// formulaire de contact

#form-contact {
    width: 100%;

    & legend {
        font-size: 2rem;
        font-style: italic;
    }

    & .form-contact p {
        @extend %flex-center;
        flex-wrap: wrap;

       

        & .btn {
            margin: 10px 0;
        }
    }
}

.form-contact:hover {
    box-shadow: 0px 0px 5px $primary-color;
}

// formulaire connexion / inscription

#form-register,
#form-login {
    width: 100%;

    & p {
        margin: 10px 20px 0 0;
        @extend %flex-center;
        flex-wrap: wrap;
    }

    & input {
        width: 200px;
    }
    & label{
        display: block;
        width: 200px;
    }
    & .btn {
        margin: 20px auto;
    }
}

