@import "../Utils/_variables";
@import "../Utils/_mixins.scss";
@import "../Utils/_placeholders.scss";
@import "../Utils/_functions.scss";

.card h2{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
}

.article-welcome,
.game-welcome {
    position: relative;
    @include style-article(16rem, 25rem, 0 0 0, $box-shadow, #eee, black);
    margin: 0 auto 2rem;

    & h3 {
        margin: 0 0 10px;
        height: 70px;
        padding: 20px;
    }

    & figure {
        width: 100%;
        @include flex-center;

        & img {
            width: 16rem;
            height: 300px;
            object-fit: cover;
        }
    }
}



.game-welcome:hover,
.article-welcome:hover {
    transform: scale(1.05);
    opacity: 0.9;
    transition: 0.4s ease-in-out;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.published {
    font-size: 0.8rem;
    padding: 0.4rem;
    position: absolute;
    bottom: 5px;
    left: 80px;

}

@media screen and (min-width: 768px) {

    .card {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
    }
    .game-welcome{
        width: 300px;
        margin-left: 50px;
    }

   
}