@import "../Utils/_variables";
@import "../Utils/_mixins.scss";
@import "../Utils/_placeholders.scss";
@import "../Utils/_functions.scss";

footer{
    width: 100%;
    height: auto;
    background: $primary-color;
}