/* VARIABLE CSS */
:root {
  --font-size: 18px;
}

/* MINI RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size);
}

body {
  font-family: "Rajdhani", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

i {
  color: white;
}

button {
  border: none;
}

.title {
  text-align: center;
  padding: 3rem 0 0;
  font-size: 2rem;
  font-weight: 100;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

#header {
  background-color: #00626b;
  height: 15.55rem;
  color: #0a92a4;
}
#header figure {
  width: 100%;
}
#header figure .logo {
  width: 13.9rem;
  display: block;
  margin: 0 auto;
}
#header .welcome {
  width: 9rem;
  font-size: 1.5rem;
  margin: 0.9rem auto;
  padding: 0.2rem;
  background: #f5c46e;
  color: white;
  text-align: center;
}

#header #btn-social-networks {
  position: absolute;
  top: 14.2rem;
  left: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.menu-wrap {
  position: fixed;
  margin: 0.2rem;
  top: 0;
  right: 0;
  z-index: 1000;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #f5c46e;
  /* les lignes du burger */
}
.menu-wrap .hamburger > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 2px;
  background: white;
  transition: all 0.4s ease-in-out;
}
.menu-wrap .hamburger > div::before, .menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 20;
  top: -10px;
  width: 30px;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 10px;
}

.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.toggler:checked + .hamburger > div::before, .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}
.toggler:checked + .hamburger > div {
  transform: rotate(225deg);
}

.toggler:checked ~ .menu {
  visibility: visible;
}
.toggler:checked ~ .menu > div {
  transform: scale(1);
}
.toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
}

.container-menu {
  background: white;
  opacity: 0.9;
  width: 100vh;
  height: 100vh;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

#main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0;
  text-align: left;
  opacity: 1;
  transition: opacity 0.4s ease;
}
#main-menu ul li {
  padding: 0.5rem;
}
#main-menu ul li a {
  color: black;
}
#main-menu ul li a:hover {
  background-color: #0a92a4;
  padding: 0.5rem 0;
  color: white;
}

@media screen and (min-width: 768px) {
  #header {
    margin-top: 40px;
  }

  /* menu burger */
  #header .menu-wrap .hamburger,
#header .menu-wrap .toggler {
    display: none;
  }

  .menu {
    visibility: visible;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #0a92a4;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .container-menu {
    width: 100%;
    background-color: #0a92a4;
    height: 80px;
    transform: scale(1);
  }

  #main-menu ul {
    display: flex;
  }
  #main-menu ul li {
    margin: 0 5px;
  }
  #main-menu ul li a {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
  }
  #main-menu ul li a:hover {
    background: #00626b;
  }
}
.card h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.article-welcome,
.game-welcome {
  position: relative;
  width: 16rem;
  height: 25rem;
  border-radius: 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: #eee;
  color: black;
  margin: 0 auto 2rem;
}
.article-welcome h3,
.game-welcome h3 {
  margin: 0 0 10px;
  height: 70px;
  padding: 20px;
}
.article-welcome figure,
.game-welcome figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-welcome figure img,
.game-welcome figure img {
  width: 16rem;
  height: 300px;
  object-fit: cover;
}

.game-welcome:hover,
.article-welcome:hover {
  transform: scale(1.05);
  opacity: 0.9;
  transition: 0.4s ease-in-out;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.published {
  font-size: 0.8rem;
  padding: 0.4rem;
  position: absolute;
  bottom: 5px;
  left: 80px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }

  .game-welcome {
    width: 300px;
    margin-left: 50px;
  }
}
.btn-social-networks {
  text-align: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 1.5rem;
  background: #f5c46e;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.btn-social-networks:hover {
  background: #f2b13e;
}
.btn-social-networks i {
  font-size: 1.5rem;
  margin: 0.64rem 0 0;
}

@media screen and (min-width: 768px) {
  .btn-social-networks {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
