 @charset "UTF-8";
.comment p,
figure,
.container-article .tags,
.blog-articles .tags,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-article .tags .tag,
.blog-articles .tags .tag {
  margin: 10px 5px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: greenyellow;
}

.btn {
  padding: 0 5px;
  height: 30px;
  background-color: rgba(37, 84, 138, 0.991);
  margin: 20px auto 0;
  color: #fff;
}
.btn a {
  color: #fff;
}
.btn:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
  background-color: rgba(26, 60, 98, 0.991);
}

.comment p,
figure,
.container-article .tags,
.blog-articles .tags,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-article .tags .tag,
.blog-articles .tags .tag {
  margin: 10px 5px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: greenyellow;
}

/* mini reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
  }
  
  body {
    background-color: antiquewhite;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    border: none;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  hr {
    color: rgba(37, 84, 138, 0.991);
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    padding: 1rem;
  }
  
  h2,
  h3,
  h4 {
    text-align: center;
    font-size: 1.7rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    font-style: italic;
    padding: 0.7rem;
  }
  
  .comment p,
  figure,
  .container-article .tags,
  .blog-articles .tags,
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container-article .tags .tag,
  .blog-articles .tags .tag {
    margin: 10px 5px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: greenyellow;
  }
  
  header figure {
    width: 40%;
    padding: 20px 0 20px 20px;
  }
  header figure .logo {
    width: 100%;
  }
  
  .menu-wrap {
    position: fixed;
    margin: 5px;
    top: 0;
    right: 0;
    z-index: 1000;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3000;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;
    width: 40px;
    height: 40px;
    background: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hamburger line */
  /* les sélecteurs avancés css */
  /* div + p{
      les éléments p du même niveau et suivant les éléments p
  }
  
  div > p{
      les éléments p enfant des éléments div
  }
  
  div ~ p{
      les éléments p frère des éléments div
  } */
  .hamburger > div {
    position: relative;
    width: 30px;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
  }
  .hamburger > div::before {
    content: "";
    position: absolute;
    z-index: 20;
    top: -10px;
    width: 30px;
    height: 2px;
    background: inherit;
  }
  .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 20;
    top: -10px;
    width: 30px;
    height: 2px;
    background: inherit;
  }
  .hamburger > div:after {
    top: 10px;
  }
  
  .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Les pseudo éléments
  ::first-letter / ::first-line / ::selection / ::before / ::after */
  .toggler:checked + .hamburger > div::before,
  .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  .toggler:checked + .hamburger > div {
    transform: rotate(225deg);
  }
  
  .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .toggler:checked ~ .menu > div {
    transform: scale(1);
  }
  
  .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu .menus {
    background: #fff;
    opacity: 0.9;
    width: 100vh;
    height: 100vh;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu .menus #main-menu,
  .menu-wrap .menu .menus #register-menu {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu .menus #main-menu ul li,
  .menu-wrap .menu .menus #register-menu ul li {
    padding: 10px;
  }
  
  .menu-wrap .menu .menus #main-menu ul li a,
  .menu-wrap .menu .menus #register-menu ul li a {
    color: black;
    font-size: 1.3rem;
  }
  
  .menu-wrap .menu .menus #main-menu ul li a:hover,
  .menu-wrap .menu .menus #register-menu ul li a:hover {
    background-color: rgba(3, 40, 100, 0.971);
    padding: 10px 2px;
    color: #fff;
  }
  
  .comment p,
  figure,
  .container-article .tags,
  .blog-articles .tags,
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container-article .tags .tag,
  .blog-articles .tags .tag {
    margin: 10px 5px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: greenyellow;
  }
  
  .game-welcome {
    width: 300px;
    height: auto;
    border-radius: 0 0 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #fff;
    color: black;
    margin: 0 auto 3rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  
  .comment p,
  figure,
  .container-article .tags,
  .blog-articles .tags,
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container-article .tags .tag,
  .blog-articles .tags .tag {
    margin: 10px 5px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: greenyellow;
  }
  
  /* gestion des articles du blog (index) */
  .blog-articles {
    width: 300px;
    background-color: #fff;
    margin: 0 auto 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .blog-articles__excerpt {
    width: 80%;
    margin: 1rem auto;
  }
  .blog-articles .tags .tag a {
    color: black;
    font-size: 0.7rem;
  }
  .blog-articles .tags .tag:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
  }
  
  /* gestion d'un article du blog (show) */
  .blog-article .title {
    padding: 2rem;
    font-style: italic;
  }
  
  .container-article {
    width: 300px;
    height: auto;
    border-radius: 0 0 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #fff;
    color: black;
    margin: 0 auto 3rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .container-article__content {
    margin-top: 1rem;
  }
  
  figure {
    width: 100%;
  }
  figure .blog-img {
    width: 300px;
    border-radius: 25px 0 0 0;
  }
  
  .comment {
    width: 100%;
    text-align: center;
  }
  .comment p {
    flex-wrap: wrap;
  }
  .comment p label {
    width: 100%;
    padding: 10px 0;
  }
  
  .comment textarea {
    width: 300px;
    height: 100px;
    border: none;
  }
  .comment textarea::placeholder {
    text-align: center;
  }
  
  .comment input[type="submit"] {
    margin: 10px 0;
    padding: 5px;
    border: none;
    color: #fff;
    background: rgba(3, 40, 100, 0.971);
  }
  
  @media screen and (min-width: 993px) {
    .play-game {
      width: 100%;
      text-align: center;
      height: 400px;
      background-color: white;
      overflow: hidden;
      cursor: crosshair;
      margin-bottom: 20px;
    }
  
    .play-game .bubble {
      position: absolute;
      border-radius: 100px;
      background: rgba(255, 166, 0, 0.9);
      opacity: 0;
      animation: anim 8s ease-in-out forwards;
      filter: hue-rotate(0deg);
    }
  
    @keyframes anim {
      to {
        top: 400px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
      }
    }
    div h3 {
      font-size: 2rem;
      text-align: center;
      margin-top: 20px;
      color: rgba(128, 128, 128, 0.908);
    }
  }
  .btn,
  .blog-articles .tags,
  .container-article .tags,
  figure,
  .comment p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .blog-articles .tags .tag,
  .container-article .tags .tag {
    margin: 10px 5px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: greenyellow;
  }
  
  footer {
    width: 100%;
    height: auto;
    background: rgba(37, 84, 138, 0.991);
  }
  
  # sourceMappingURL=style.css.map 

  /* ------------------------------------------------------------------------------------------ */

  /* SOMMAIRE */

/* MINI RESET CSS */
/* STYLE COMMUN */
/* HEADER */
/*  - logo
    - titre 
    - menu burger */
/* MAIN Accueil */
/*  - titre
    - les derniers jeux
    - les derniers articles */
/* MAIN Jeux de société */
/*  - fiche jeu */
/* MAIN Blog */
/*  - article */
/* MAIN Contact */
/* FORMULAIRE d'inscription */
/* FORMULAIRE se connecter */
/* FORMULAIRE se déconnecter */
/* FOOTER */
/* PAGE 404 */
/* MENTIONS LEGALES */
/* MEDIA QUERY : 768 */
/* MEDIA QUERY : 993 */

/* -----MINI RESET----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* -----STYLE COMMUN-----  */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* -----HEADER----- */
#header {
  width: 100%;
  height: auto;
  background-color: rgba(37, 84, 138, 0.991);
  /* color: rgba(3, 40, 100, 0.971); */
  /* border-radius: 100% 0% 100% 0%/0% 35% 65% 100%; */
}
#header figure {
  width: 40%;
}
#logo {
  width: 100%;
}
.menu-wrap {
  position: fixed;
  margin: 5px;
  top: 0;
  right: 0;
  z-index: 1000;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  width: 40px;
  height: 40px;
  background: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger > div {
  position: relative;
  width: 30px;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.hamburger > div::before {
  content: "";
  position: absolute;
  z-index: 20;
  top: -10px;
  width: 30px;
  height: 2px;
  background: inherit;
}
.hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 20;
  top: -10px;
  width: 30px;
  height: 2px;
  background: inherit;
}
.hamburger > div:after {
  top: 10px;
}

.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Les pseudo éléments
::first-letter / ::first-line / ::selection / ::before / ::after */
.toggler:checked + .hamburger > div::before,
.toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

.toggler:checked + .hamburger > div {
  transform: rotate(225deg);
}

.toggler:checked ~ .nav {
  visibility: visible;
}

.toggler:checked ~ .nav > div {
  transform: scale(1);
}

.toggler:checked ~ .nav > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .nav .menu {
  background: #fff;
  opacity: 0.9;
  width: 100vh;
  height: 100vh;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

#main-menu {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.4s ease;
}

#main-menu ul li {
  padding: 10px 0;
}

#main-menu ul li a {
  color: black;
  font-size: 1.3rem;
}
#main-menu ul li a:hover {
  background-color: rgba(3, 40, 100, 0.971);
  padding: 10px 0;
  color: #fff;
}

@media screen and (min-width: 993px) {
  .menu-wrap .hamburger,
  .menu-wrap .toggler {
    display: none;
  }
  .menu-wrap{
    position: absolute;
    height: 60px;
    width: 100%;
  }

  .menu-wrap #main-menu .nav {
    
    display: block;
    background-color: black;
    z-index: 5000;
    visibility: visible;

  }
  .menu {
    transform: scale(1) !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    background-color: white !important;
    margin: 0 auto;
  }

  #main-menu ul {
    display: flex;
    margin-bottom: 20px;
  }

  #main-menu ul li a{
    font-size: 1.3rem !important;
    color: black !important;
    text-transform: uppercase;
    padding: 30px 10px;
  }

  #main-menu a:hover {
    color: white !important;
  }
  header{
    margin-top: 60px;
  }
 
}

  
