@import "./variables";
@import "./placeholders";

@mixin style-header($bg, $height, $color) {
    background-color: $bg;
    height: $height;
    color: $color;
}

@mixin style-article($width, $height, $border-raduis, $box-shadow, $bg, $color) {
    width: $width;
    height: $height;
    border-radius: $border-raduis;
    box-shadow: $box-shadow;
    background-color: $bg;
    color: $color;
}



// $txt-input-palette: (active: (bg: $colour-primary,
//         border: $colour-primary,
//         txt: $colour-white,

//     ),
//     focus: (bg: $colour-primary,
//         border: $colour-primary,
//         txt: $colour-white,
//     ),
//     invalid: (bg: $colour-invalid,
//         border: $colour-white,
//         txt: $colour-white,
//     ));

// @mixin txt-input-palette($palettes) {

//     @each $state,
//     $palette in $palettes {
//         &:#{$state} {
//             border: .1rem solid map-get($palette, border);
//             background-color: map-get($palette, bg);
//             color: map-get($palette, txt);
//         }
//     }
// }