$primary-color:rgba(0, 98, 107, 1);

$secondary-color: rgba(10, 146, 164, 1);

// $btn-color : rgba(10, 164, 23, 1);

$btn-color: #f5c46e;

$white-color: rgba(255, 255, 255, 1);

$black-color: rgba(0, 0, 0, 1);

$box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

