$primary-color: rgba(37, 84, 138, 0.991);

$secondary-color: rgba(3, 40, 100, 0.971);

$yellow-color: rgba(255, 203, 16, 0.974);

$white-color: #FFF;

$box-shadow:rgba(0, 0, 0, 0.19) 0px 10px 20px,
rgba(0, 0, 0, 0.23) 0px 6px 6px;