$colour-primary: rgba(37, 84, 138, 0.991);

$colour-secondary: rgba(3, 40, 100, 0.971);

$colour-invalid: rgba(255, 203, 16, 0.974);

$colour-white: #FFF;

$box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;